<!-- include Header -->
<%-include('include/_header')%>
    <!-- /include Header -->

    <!-- Main site -->
    <main id="site-main">
        <div class="container user-container">
            <div class="box-nav d-filex justify-between">
                <a href="/" class="border-shadow">
                    <span class="text-gradient"><i class="fa-solid fa-angle-double-left"></i> All User</span>
                </a>
            </div>
            <div class="form-title text-center">
                <h2 class="text-dark">Update User</h2>
                <span class="text-light">Use the below form to Update an Account</span>
            </div>
        </div>

        <!-- Form Handling -->
        <div class="container">
            <form method="POST" id="update_user">
                <div class="new_user">
                    <div class="form-group">
                        <label for="name" class="text-light">Name</label>
                        <input type="hidden" name="id" value="<%= user._id %>">
                        <input type="text" name="name" value="<%= user.name %>" placeholder="Your Name">
                    </div>
                    <div class="form-group">
                        <label for="Email" class="text-light">Email</label>
                        <input type="text" name="email" value="<%= user.email %>" placeholder="example@gmail.com">
                    </div>
                    <div class="form-group">
                        <label for="Gender" class="text-light">Gender</label>

                        <div class="radio inline">
                            <input type="radio" id="radio-2" name="gender" value="Male" <%= user.gender=='Male'?'checked':'' %> >
                            <label for="radio-2" class="radio-label text-Dark">Male</label>
                        </div>
                        <div class="radio inline">
                            <input type="radio" id="radio-3" name="gender" value="Female" <%= user.gender=='Female'?'checked':'' %> >
                            <label for="radio-3" class="radio-label text-Dark">Female</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Gender" class="text-light">Status</label>

                        <div class="radio inline">
                            <input type="radio" id="radio-4" name="status" value="Active" <%= user.status=='Active'?'checked':'' %>>
                            <label for="radio-4" class="radio-label text-Dark">Active</label>
                        </div>
                        <div class="radio inline">
                            <input type="radio" id="radio-5" name="status" value="Inactive" <%= user.status=='Inactive'?'checked':'' %>>
                            <label for="radio-5" class="radio-label text-Dark">Inactive</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn text-dark update">Save</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- /Form Handling -->

    </main>
    <!-- /Main site -->

    <!-- include footer -->
    <%-include('include/_footer')%>
        <!-- /include footer -->